{% extends 'ideas.njk' %}
{% set pageTitle = 'Hoe werkt het?' %}
{% set contentClass = 'newIdea' %}

{% block content %}

	<div id="howDoesItWork">
		<h2>Het is niet meer mogelijk om ideeën aan te agenderen bij de stadsdeelcommissie via de Stem van Noord. U kunt uw ideeën mailen naar bestuursondersteuning.sdn@amsterdam.nl, waarna u wordt uitgenodigd om deze toe te lichten in de stadsdeelcommissievergadering”. </h2>
		</div>
	</div>
{% endblock %}
